<% content_for :title, "Se connecter" %>
<% content_for :meta_description, "Retrouvez accès à votre profil via cette page de connexion." %>

<div class="card-container">
  <%= link_to new_user_session_path, class: "card badge-login active" do %>
    Utilisateurs
  <% end %>
  <%= link_to new_organisation_session_path, class: "card badge-login" do %>
    Associations
  <% end %>
</div>

<br>

<h2 class="text-center">Se connecter</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Rester connecté" %>
    </div>
  <% end %>

<br>

<div class="actions" style="text-align: center;">
  <%= f.submit "Connexion", class: "btn btn-primary", style: "font-size: 16px; padding: 5px 10px; margin: 0 auto;" %>
</div>
<% end %>

<%= render "users/shared/links" %>
