<h2 style="text-align: center; margin-bottom: 20px;">Liste des demandes de retrait</h2>
<hr style="width: 50%; margin-bottom: 30px;">

<% if @withdrawals.any? %>
  <% @withdrawals.each do |withdrawal| %>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Association</th>
            <th class="text-center">Montant</th>
            <th class="text-center">Date de demande</th>
            <th class="text-center">Status</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><%= withdrawal.organisation.name %></td>
            <td class="text-center"><%= number_to_currency(withdrawal.amount, unit: '€') %></td>
            <td class="text-center"><%= withdrawal.created_at.strftime("%d %B %Y %H:%M") %></td>
            <td class="text-center"><%= withdrawal.cagnotte_status&.status %></td>
            <td class="text-center">
              <%= link_to "Détails", show_admin_withdrawal_path(withdrawal), style: 'text-decoration: none;' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
  <% end %>
<% else %>
<div class="text-center">
  <p>Il n'y a pas de nouvelle demande de retrait.</p>
</div>
<% end %>
