<%= stylesheet_link_tag 'organisation.show', media: 'all' %>
<% if @organisation %>
  <div class="container">
  <h1 class="mt-4 organisation-name"><strong><%= @organisation.name %></strong></h1>

    <% if @organisation.cover_photo.attached? %>
      <div class="image-container">
        <%= image_tag @organisation.cover_photo, class: "img-fluid rounded-custom" %>
      </div>
    <% else %>
      <p>Aucune photo de couverture pour cette association</p>
    <% end %>

    <div class="element">
      <p><strong>Description</strong><p>
      <%= @organisation.description %>
      <p><strong>Ville</strong></p> 
      <%= @organisation.city %></p>
    </div>
  </div>
<% else %>
  <p>Association non trouvée</p>
<% end %>