<% content_for :head do %>
  <%= stylesheet_link_tag 'organisation.show', media: 'all' %>
<% end %>

<% if @organisation && @organisation.is_promoted? %>
  <div class="card card-gold star-promoted" name="Cette association est mise en avant" title="Cette association est mise en avant">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </svg>
  </div>
<% end %>

<% if @organisation %>
  <div class="container">
    <h1 class="mt-4 organisation-name"><strong><%= @organisation.name %></strong></h1>

    <% if @organisation.cover_photo.attached? %>
      <div class="image-container">
        <%= image_tag @organisation.cover_photo, class: "img-fluid rounded-custom" %>
      </div>
    <% else %>
      <p>Aucune photo de couverture pour cette association</p>
    <% end %>

    <div class="element">
      <p><strong>Description</strong></p>
      <%= @organisation.description %>
      <p><strong>Ville</strong></p> 
      <%= @organisation.city %></p>
      <p><strong>Adresse</strong></p>
      <%= @organisation.address %></p> 

      <!-- Google Maps API -->
      <div id="map" style="height: 200px;"></div>

      <script>
        function initMap() {
          var organizationLocation = { lat: <%= @organisation.latitude %>, lng: <%= @organisation.longitude %> };
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: organizationLocation
          });
          var marker = new google.maps.Marker({
            position: organizationLocation,
            map: map,
            title: '<%= @organisation.name %>'
          });
        }
      </script>

      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google_maps, :api_key) %>&libraries=places&callback=initMap">
      </script>


  </div>

  <h2>Événements de cette organisation :</h2>

  <% if @organisation.events.any? %>
    <ul>
      <% @organisation.events.each do |event| %>
        <li>
          <%= link_to event.name, event_path(event) %>
          <% if event.start_date > Time.now %>
            <span style="color: green;">À venir</span>
          <% else %>
            <span style="color: red;">En cours</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucun événement trouvé pour cette organisation.</p>
  <% end %>

  <h1> Questions-réponses </h1>
    <% if !@faqs.empty? %>
      <div class="faq-container">
          <% @faqs.each do |faq| %>
              <% if faq.answer %>
                <div class="my-5">
                                  <div class="question">
                <% if faq.user.avatar.attached? %>
                  <%= image_tag faq.user.avatar, class: "card-img-top", alt: "Photo de profil de #{if faq.user.first_name && faq.user.last_name then faq.user.first_name + " " + faq.user.last_name.slice(0,1) + "." else "Anonyme" end}" %>
                <% else %>
                  <!-- Placeholder si aucun avatar n'est attaché -->
                  <%= image_tag "anonymous-user.webp", class: "card-img-top", alt: "Une image de profil d'un utilisateur n'ayant pas défini de photo" %>
                <% end %>
                <div class="question-content">
                  <h4><%= if faq.user.first_name && faq.user.last_name then faq.user.first_name + " " + faq.user.last_name.slice(0,1) + "." else "Anonyme" end %></h4>
                  <p><%= faq.question %></p>
                </div>
              </div>

              <div class="answer">
                <% if faq.organisation.cover_photo.attached? %>
                  <%= image_tag faq.organisation.cover_photo, class: "card-img-top", alt: "Logo de l'association #{faq.organisation.name}" %>
                <% else %>
                  <!-- Placeholder si aucune cover photo n'est attachée -->
                  <%= image_tag "placeholder-image.png", class: "card-img-top", alt: "Logo de l'association n'en ayant pas défini" %>
                <% end %>
                <div class="answer-content">
                  <h4><%= faq.organisation.name %></h4>
                  <p><%= faq.question %></p>
                </div>
              </div>
                </div>
              <% end %>
          <% end %>
        </div>
    <% else %>
      <p>Aucune question-réponse pour cette association</p>
    <% end %>

        <%= link_to "Ajouter une question", new_organisation_faq_path(organisation_id: @organisation.id), class: "btn btn-primary" %>
      </div>
  <!-- Autres détails si nécessaire -->

  <h2>Faites un don à <%= @organisation.name %></h2>

  <%= render 'shared/donate_button', association: @organisation %>
<% else %>
  <p>Association non trouvée</p>
<% end %>

<p> Si cette association vous a plu n'hesitez pas à laissez un like:</p>
<% if current_user.likes.where(organisation_id: @organisation.id).empty? %>
    <%= button_to like_asso_path(@organisation), method: :post, class: 'like-btn' do %>
        <ion-icon name="heart">
        <div class='red-bg'></div>
        </ion-icon>
    <% end %>
<% else %>
    <%= button_to unlike_asso_path(@organisation), method: :post, class: 'like-btn active' do %>
        <ion-icon name="heart">
        <div class='red-bg'></div>
        </ion-icon>
    <% end %>
<% end %> 