<%= form_with method: :post, url: payments_path, data: { turbo: false } do |form| %>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">

      <%= form.hidden_field :organisation_id, value: @organisation.id %>

    <div style="margin-bottom: 5px; text-align: center;">
      <%= form.label :amount, 'Montant' %>
      <%= form.number_field :amount, step: 'any', style: 'width: 100%; padding: 5px; box-sizing: border-box; border-radius: 10px' %>
    </div>
    <div style="margin-bottom: 30px; text-align: center;">
      <%= form.check_box :tip, value: '1', unchecked_value: '0', style: 'margin-right: 15px;' %>
      <%= form.label :tip, 'Ajouter 1€ en soutien au site' %>
    </div>

    <div class="actions" style="text-align: center;">
      <%= form.submit "Confirmer", class: "btn btn-primary", style: "font-size: 16px; padding: 5px 10px; margin: 0 auto;" %>
    </div>

  </div>
<% end %>