<nav class="navbar" id="site-navbar">
    <div class="container">
        <div class="navbar-brand">
            <%= link_to root_path do %>
                <%= render "shared/logo" %>
            <% end %>
        </div>
        <div class="navbar-burger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="navbar-links">
            <%= link_to "Home", root_path, class: "#{is_active?(root_path)}" %>
            <%= link_to "Associations", associations_path, class: "#{is_active?(associations_path)}" %>
            <%= link_to "Contact", contact_path, class: "#{is_active?(contact_path)}" %>
            <%= link_to "A propos", about_path, class: "#{is_active?(about_path)}" %>
        </div>
    </div>
</nav>