<% content_for :title, "Créer votre événement" %>
<% content_for :meta_description, "Contribuez à la communauté, rencontrer des volontaires et rencontrer des volontaires à proximité. Créer des activités avec votre association." %>

<div class="event-card" style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
  <%= form_with(model: @event, local: false, html: { class: 'event-form' }) do |form| %>
    <div class="event-field">
      <%= form.label :name, 'Nom', class: 'event-label' %>
      <%= form.text_field :name, class: 'event-text-field' %>
    </div>

    <div class="event-field">
      <%= form.label :description, class: 'event-label' %>
      <%= form.text_area :description, class: 'event-textarea' %>
    </div>

    <div class="event-field">
      <%= form.label :start_date, 'Date de début', class: 'event-label' %>
      <%= form.datetime_local_field :start_date, class: 'event-text-field' %>
    </div>

    <div class="event-field">
      <%= form.label :end_date, 'Date de fin', class: 'event-label' %>
      <%= form.datetime_local_field :end_date, class: 'event-text-field' %>
    </div>

    <div class="event-field">
      <%= form.label :organisation_id, class: 'event-label' %>
      <%= form.number_field :organisation_id, class: 'event-text-field' %>
    </div>

    <div class="event-field">
      <%= form.label :cover_photo, 'Photo de couverture', class: 'event-label' %>
      <%= form.file_field :cover_photo, class: 'event-file-field' %>
    </div>

    <div style="text-align: center; margin-top: 30px;">
      <%= form.submit 'Créer l\'événement', class: 'btn btn-primary', style: "font-size: 16px; padding: 5px 10px; width: auto; margin: 0 auto;" %>
    </div>
  <% end %>
</div>
