<%= form_with(model: @event, local: false) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_local_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_local_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :organisation_id %>
    <%= form.number_field :organisation_id %>
  </div>

  <div class="field">
    <%= form.label :cover_photo, 'Photo de couverture' %>
    <%= form.file_field :cover_photo %>
  </div>

  <%= form.submit 'Créer l\'événement' %>
<% end %>
