<h2>Voici la liste de vos dons effectués</h2>

<% @user_donations.each do |donation| %>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Montant du don</th>
          <% if donation.tip_amount && donation.tip_amount > 0 %>
            <th>Votre généreuse participation</th>
          <% end %>
          <th>Association</th>
          <th>Date du don</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= number_to_currency(donation.no_tip, unit: '€') %></td>
          <% if donation.tip_amount && donation.tip_amount > 0 %>
            <td><%= number_to_currency(donation.tip_amount, unit: '€') %></td>
          <% end %>
          <td><%= donation.organisation.name %></td>
          <td><%= donation.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
<% end %>

<%= link_to "Retour à l'accueil", root_path %>