<% content_for :title, "Nouvelle mise en avant" %>
<% content_for :meta_description, "Acheter des jours, des semaines afin d'être mis en avant sur la page d'accueil de TrouveTonAsso. Augmenter l'engagement auprès de votre association pour seulement quelques euros." %>

<h1 class="text-center mb-6 mt-1">Mettez en avant votre association</h1>

<% if @is_promoted %>
    <p class="text-center">Il vous reste <b><%= @remaining_days.to_i %> jours</b> de promotion.</p>
<% end %>    

<div class="card-container">
    <% 4.times do |i| %>
        <div class="card text-center">
            <p>
            Ajouter <b><%= (i + 1) * 7 %></b> jours</b> pour promouvoir votre association jusqu'au <b><%= I18n.l((@today + ((i + 1) * 7).days), format: :long) %></b>
            </p>
            <div class="text-center">
                <%= (i + 1) %> semaine<%= (i + 1) == 1 ? '' : 's' %> pour <%= case i + 1; when 1 then "5"; when 2 then "9,5"; when 3 then '13,5'; when 4 then '17'; end %> €
                <%= button_to "Promouvoir mon association #{(i + 1) * 7} jours", go_to_paiement_organisation_promoted_index_path(weeks: (i + 1)), form: { class: 'form mt-2' }, method: :post, class: "btn btn-primary", data: { turbo: false } %>
            </div>
        </div>
    <% end %>
</div>
<br>
<div style="text-align: center; margin-top: 10px;">
  <%= link_to "Retour à votre dashboard", dashboard_organisations_path %>
</div>