<% content_for :title, "Cagnotte" %>
<% content_for :meta_description, "Retrouvez ici le montant de la cagnotte de votre association et faites des demandes de virement afin de récupérer l'ensemble de vos dons." %>

<h1 class="text-center">Bonjour, <em><strong><%= @organisation.name %></strong></em> !</h1>

<% if @cagnotte.present? %>
  <div class="text-center">
    <p>Vous avez une cagnotte de : <strong><%= number_to_currency(@cagnotte.amount, unit: '€') %></strong></p>
    <p>Vous pouvez effectuer une demande de retrait du montant de votre choix ci-dessous :</p>
  </div>

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <div style="margin-bottom: 5px; text-align: center;">
        <%= form_with(model: Withdrawal.new, url: process_withdrawal_cagnotte_path(@cagnotte), data: { turbo: false }) do |form| %>
          <%= form.label :Montant %>
          <%= form.number_field :amount, step: 'any', style: 'width: 100%; padding: 5px; box-sizing: border-box; border-radius: 10px' %>
          
        <div style="text-align: center; margin-top: 30px;">
          <%= form.submit 'Confirmer', class: 'btn btn-primary', style: 'width: auto; height: 30px; margin: 0 auto;' %>
        </div>
        <% end %>
      </div>
    </div>

  <div style="text-align: center; margin-top: 30px;">
    <%= link_to "Historique des Retraits", withdrawals_path, style: 'text-decoration: none;' %>
  </div>
<br>

<% if @organisation.donations.any? %>
  <h2 class="text-center">Historique des dons reçus</h2>
  <hr style="width: 50%; margin-bottom: 30px;">
  <% @organisation.donations.each do |donation| %>
    <div class="table-container text-center">
      <table class="text-center">
        <thead>
          <tr>
            <th class="text-center" >Montant</th>
            <th class="text-center">Donateur</th>
            <th class="text-center">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><%= number_to_currency(donation.no_tip, unit: '€') %></td>
            <td class="text-center">
              <%= donation.user.first_name %>.<%= donation.user.last_name.first %>
            </td>
            <td class="text-center"><%= donation.created_at.strftime("%d %B %Y %H:%M") %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
<% end %>

  <% else %>
    <div class="text-center">
      <p>Il semblerait que vous n'ayez pas encore reçu de dons.</p>
      <p>Nous vous invitons à vous démarquer grâce à notre site pour augmenter vos chances de recevoir des dons!</p>
    </div>
  <% end %>

<% end %>
<br>
<br>
<div style="text-align: center; margin-top: 10px;">
  <%= link_to "Retour à l'accueil", root_path, style: 'text-decoration: none;' %>
</div>
<br>
<div style="text-align: center; margin-top: 10px;">
  <%= link_to "Retour à votre dashboard", dashboard_organisations_path, style: 'text-decoration: none;' %>
</div>