<h2>Merci pour votre don!</h2>

<div class="table-container">
    <table>
    <thead>
        <tr>
        <th>Montant</th>
        <% if @donation.tip_amount && @donation.tip_amount > 0 %>
        <th>Votre généreuse participation</th>
        <% end %>
        <th>Date</th>
        <th>Association bénéficiaire</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= number_to_currency(@donation.no_tip, unit: '€') %></td>
            <% if @donation.tip_amount && @donation.tip_amount > 0 %>
            <td><%= number_to_currency(@donation.tip_amount, unit: '€') %></td>
            <% end %>
            <td><%= @donation.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
            <td><%= @donation.organisation.name %></td>
        </tr>
    </tbody>
    </table>
</div>
<br>

<%= link_to "Retour à l'accueil", root_path %>