<% if @association %>
  <h1>Détails de l'association <%= @association.name %></h1>

  <!-- Affichage de la photo de couverture -->
  <% if @association.cover_photo.attached? %>
    <%= image_tag @association.cover_photo %>
  <% else %>
    <p>Aucune photo de couverture pour cette association</p>
  <% end %>

  <p>Description : <%= @association.description %></p>
  <p>Ville : <%= @association.city %></p>
  <p>Site Web : <%= @association.website %></p>
  <!-- Autres détails si nécessaire -->
<% else %>
  <p>Association non trouvée</p>
<% end %>
