<% content_for :title, "Profil" %>
<% content_for :meta_description, "Accéder aux informations de votre profil : vos données personnelles, la suppression de votre compte, votre mot de passe, l'historique de vos dons, les associations likées, etc..." %>

<div class="card-container">
    <div class="card card-body">
        <h1>Vos informations</h1>
        <p><strong>Email :</strong> <%= @user.email %></p>
        <p><strong>Mot de passe :</strong> ********</p>
        <%= link_to "Changer de mot de passe", edit_user_registration_path(@user),style: "text-decoration: none; font-size: 0.9em;" %>

        <% if @user.avatar.attached? %>
            <div class="form text-center">
            <%= image_tag @user.avatar, class: "avatar-preview", alt: "Photo de profil de #{@user.name}", style: "margin: auto;" %>
            <p>Photo de profil</p>
            </div>
        <% end %>
        <p><strong>Prénom :</strong> <%= @user.first_name %></p>
        <p><strong>Nom :</strong> <%= @user.last_name %></p>

        <%= link_to "Editer", edit_profil_path(@user),style: "text-decoration: none; font-size: 0.9em;" %>

        <br>
        <br>
        <br>
        <br>

        <%= link_to "Supprimer le compte", registration_path(@user), 
            data: { confirm: "Êtes-vous sûr ?", turbo_confirm: "Êtes-vous sûr ?", turbo_method: :delete }, 
            method: :delete, 
            style: "text-decoration: none; font-size: 0.8em; color: #777;" %>

    </div>
    <div class="card card-body">
        <h1>Historique de vos dons</h1>
        <% if !@donations.empty? %>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Montant</th>
                            <th>Association</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @donations.each do |donation| %>
                            <tr>
                                <td><%= donation.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
                                <td><%= number_to_currency(donation.no_tip, unit: '€') %></td>
                                <td><%= donation.organisation.name %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% else %>
            <p>Vous n'avez aucun don pour le moment.</p>
            <p>N'hésitez pas à faire un don sur la page d'une association !</p>
        <% end %>
    </div>
    <div class="card card-body">
        <h1>Vos associations likées</h1>
        <% if !@likes.empty? %>
            <div class="card-container">
                <% @likes.each do |orga| %>
                    <div class="card">
                        <%= button_to unlike_asso_path(orga), method: :post, class: 'like-btn active', form: {class: 'like-btn-container'} do %>
                            <ion-icon name="heart">
                            <div class='red-bg'></div>
                            </ion-icon>
                        <% end %>
                        <h2><%= orga.name %></h2>
                        <p><%= orga.description %></p>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p>Vous n'avez aucune association likée pour le moment.</p>
        <% end %>
    </div>
</div>