<!DOCTYPE html>
<html>
  <head>
    <title>TrouveTonAsso</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta lang="fr">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>

    <%= render 'application/favicon' %>
  </head>

  <body class="<%= if cookies[:dyslexie] == "true" then "dyslexic" end %>">

  <%= render "shared/navbar" %>

  <div class="container">
    <% if notice %>
     <div class="alert alert-success">
        <h3> Succès ! </h3>
        <%= notice %>
        <div class="close">&times;</div>
     </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-error">
        <h3> Erreur ! </h3>
        <%= alert %>
        <div class="close">&times;</div>
      </div>
   <% end %>
   <%= yield %> 
  </div>

  <%= render "shared/dyslexic_popup" %>
  <%= render "shared/footer" %>
  <%= render "shared/background" %>
  </body>
</html>
