<!DOCTYPE html>
<html>
  <head>
    <title>TrouveTonAsso</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

  <%= render "shared/navbar" %>

  <div class="container">
    <% if notice %>
     <div class="alert alert-success">
       <%= notice %>
       <div class="close">&times;</div>
     </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-error">
        <%= alert %>
        <div class="close">&times;</div>
      </div>
   <% end %>
   <%= yield %> 
  </div>

  <%= render "shared/background" %>
  </body>
</html>
